* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://wallpapers.com/images/hd/basic-crystal-polygon-art-g0q6akxrkqfh86zo.jpg") 
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 40px 30px;
  width: 320px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.login-box h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-group .toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-group input {
  width: 100%;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.options a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.options a:hover {
  color: #ddd;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #fff;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #ddd;
}

.register-text {
  margin-top: 20px;
  font-size: 13px;
}

.register-text a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
